.ProductCard img {
    height: 300px;
    object-fit: cover;

}

.ownerInCard img {
    width: 55%;
    height: 95%;
    border-radius: 50%;
}

.usernameInCard {
    margin-top: 20%;
}

.ProductCard {
    color: black;

}

.cardBody {
    background-color: rgb(239, 235, 235);
}

.ownerInCard {
    background-color: rgb(239, 235, 235);
}

.card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.card {

    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);

    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


@media(max-width: 990px) {
    .card {
        margin: 20px;
    }
}