.ProductCard img {
    height: 300px;
    object-fit: cover;

}

.ownerInCard img {
    width: 55%;
    height: 95%;
    border-radius: 50%;
}

.usernameInCard {
    margin-top: 20%;
}

.ProductCard {
    color: black;


}

.card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;


}