.navTitle {
    text-decoration: none;
    color: black
}

.logoKoala {
    width: 5%;
    border-radius: 50%;

}

.navbarDetails {

    /* border-bottom: 2px solid rgb(235, 233, 233); */

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);



.text-borde {
    -webkit-text-stroke: 1px black;
    color: transparent;
}