.navTitle {
    text-decoration: none;
    color: black
}

.logoKoala {
    width: 5%;
    border-radius: 50%;

}

.pointer {

    cursor: pointer
}

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:700);



.text-borde {
    -webkit-text-stroke: 0.5px black;
    color: transparent;
} */